In [ ]:
"""
날짜 : 2023/01/13
이름 : 박종협
내용 : 파이썬 데이터베이스 실습하기
"""

import pymysql

In [ ]:
# Insert 실습
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', user='root', password='1234', db='java2db', charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "INSERT INTO `user3` VALUES('a101', '홍길동', '010-4521-1234', 12)"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('Insert 완료...')

In [ ]:
# UPDATE 실습
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', user='root', password='1234', db='java2db', charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql  = "UPDATE `user3` SET "
sql += "`name`='김춘추', "
sql += "`hp`='010-5751-5124', "
sql += "`age`=35 "
sql += "WHERE `uid`='a101'"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('Update 완료...')

In [ ]:
# DELETE 실습
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', user='root', password='1234', db='java2db', charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql  = "DELETE FROM `user3` WHERE `uid`='a101' "
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('Delete 완료...')

In [ ]:
# SELECT 실습
from sub.User3VO import User3VO
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', user='root', password='1234', db='java2db', charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql  = "SELECT * FROM `user3`"
cur.execute(sql)
conn.commit()

# 결과 출력
users = []

for list in cur.fetchall():

    user = User3VO(list[0], list[1],list[2],list[3])

    users.append(user)
    """
    print('.................')
    print('아이디 :', list[0])
    print('이름 :', list[1])
    print('휴대폰 :', list[2])
    print('나이 :', list[3])
    """

# 데이터베이스 종료
conn.close()
print('Select 완료...')

for user in users:
    print('.................')
    print('아이디 : ',user.uid)
    print('이름 : ',user.name)
    print('휴대폰 : ',user.hp)
    print('나이 : ',user.age)